@import url('../Fonts/Montauk-Bold.otf');
@import url('../Fonts/Montauk-Italic.otf');
@import url('../Fonts/Montauk-Light.otf');
@import url('../Fonts/Montauk-Regular.otf');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');



/*Menu Page*/

.menuFont{
    font-family: 'Fugaz One';
    color: #5F002B;
    background-color: white;
    padding-top: 1%;
    


   
}

.contBox{
    border: 3px purple solid;
}

/* -----Menu Card------- */

.cardTitle{
    font-family: "Fugaz One";
    color: #5F002B;
    margin-bottom: 2px;
}

.cardSubTitle{
    font-family: 'Montauk-Regular';
    font-size: x-small;
    color: #5F002B;
    margin-top: 1px;
    
}

.menuTitle{
    font-family: 'Montauk-Regular';
    color: #5F002B;
    font-size: x-small;
    border-bottom: #5F002B 1px solid;
}


.topMenuCard{
    
    padding-bottom: 15px;
}

.card{
    border-radius: 0; 
    
    
}

.seafoodCard{
    padding-bottom: 7.3rem;
}

.amtSize{
    font-size: 15px;
}

.paddingBox{
    
    padding-left: 4px;
    padding-right: 4px;
 

}

.cardTop{
    padding-top: 10px;
}

/*Menu Page*/



/*footer
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: url('../images/assets/bgtexture.jpg');*/
    /* text-align: ; 
    font-family: 'Montauk-Regular';
    color: #5F002B;
  }*/

  .foot{
    font-family: 'Montauk-Regular';
    color: #5F002B;
    display: flex;
    align-items: center;
    
  }

.footImg{
    width: 25%;
    
}

.ftLs{
    display: flex;
    justify-content: flex-end;
}