@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');


@font-face{
    font-family: Montauk-Regular;
    src: url(../fonts/Montauk-Regular.otf);
}

body {
    background-image: url('/images/assets/bgtexture.jpg'); 
}


div.row.border {
  margin-bottom: 3%;
}

.TitleFont{
  font-family: Fugaz one, Regular;
  font-size: 30px;
  color: #5F002B;
  background-color: white;
  opacity: 100%;
  padding-top: 1%;
}

div.col.TitleFont.text-center{
  font-family: Fugaz one, Regular;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.col-1 {
  padding-left: 0%;
  padding-right: 0%;
}

div.col{ 
  margin: 0;
  padding-left: 0%;
  padding-right: 0%;
}

div.card {
  margin: 8px;
}

div.col-xl-6.p-xl-3 {
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.card-body{
  margin: 0%;
  padding: 2%;
  font-family: "Montauk-Regular";
  font-size: 20px;
  padding-bottom: auto;
}


/**ABOUT******US********PAGE*/
div.col-xl-6 {
  padding-left: 1px;
}

div.p-3.card {
  padding: 0% !important;
}

div.card-body {
  margin-left: 0;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

h2.card-title {
  font-family: Fugaz one, Regular;
  color: #5F002B;
  font-size: 50px;
  margin-top: 0%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 5%;
  text-align: left;
}

h1.card-title {
  font-family: Fugaz one, Regular;
  color: #5F002B;
  font-size: 50px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

div.card-title {
  background-color: white;
  font-family: Fugaz one, Regular;
  color: #5F002B;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 5%;
  text-align: left;
}

p.card-text {
  background-color: white;
  font-family: "Montauk-Regular";
  font-size: 20px;
  padding-left: 3%;
  padding-bottom: 2%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 5%;
  color: #5F002B;
  text-align: left;
  opacity: 100%;
}

 div.col-lg {
  padding-right: 0%;
  padding-left: 0%;
}  

div.col-xl {
  padding-right: 0%;
  padding-left: 0%;
} 

div.col-lg-6 {
  padding-left: 0%;
  margin-left: 0%;
}

div.col-lg-4 {
  padding-left: 0%;
  margin-left: 0%;
}

div.col-1 {
  padding-left: 0;
  padding-right: 0;
} 

div.col-xl-4 {
  padding-left: 0%;
  padding-right: 5px;
}

div.card-body.w-100.h-100 {
  margin-left: 1%;
  margin-right: auto;
}



.navbar.navbar-expand-lg {
  display: flex;
  margin-bottom: 0%;
  padding-bottom: 2%;
  flex-grow: 0;
  padding-left: 1%;
  padding-right: 1%;
}


.navbar-toggler {
  padding: 2%;
}

.headingText {
    color: #5F002B !important;
    font-family: Fugaz one, Cursive;
    font-size: 20px;
  }
  
  .headingText:hover {
      color: black;
  } 
 
  .nav {
    display: flex;
    justify-content: right;
    align-items: end;
    flex-wrap: nowrap;
    background-color: transparent;
  }

a:hover {
  text-decoration: none;
}


a.nav-item {
  display: flex;
  justify-content: end !important;
  text-align: center !important;
  align-items: center;
}


a.navbar-brand {
  display: flex;
  justify-content: left;
    padding-bottom: 0%;
    margin-left: 1%;
    margin-bottom: 0%;
}



a.nav-link.ml-lg-4 {
  font-family: Fugaz one, Regular;
  color: #5F002B;
  font-size: 20px;
}



i.fa.fa-bars {
  display: inline-block;
  display: inline-flex;
}


  .card-img-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    object-fit: cover;
  }

  
  .end {
    display: flex;
    justify-content: end;
}

 
  img.img-fluid.HomeHero{
    display: flex;
    width: 100%;
    height: 8%; 
    justify-content: center;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 5%;
  } 

  .card-img-bottom {
    margin-top: 5%;
  }


  #indexHero {
    display: flex;
    width: 100%; 
    height: auto;
    background-size: cover;
    background-position: center;
  } 

.footer-text {
  font-family: "Montauk-Regular";
  font-size: 20px;
  color: #5F002B;
  margin-bottom: 1%;
}


.footer {
      font-family: "Montauk-Regular";
      margin-top: 60px;
      padding-bottom: 1%;
      margin-top: 5%;
      margin-bottom: 0;
      font-size: 20px;
      color: #5F002B;
  }

